<div class="container mt-4" *ngIf="plan">
  <div class="row">
    <div class="plan-image p-0">
      <img [src]="imgSrc" alt="" class="img-fluid"/>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">{{plan.name}}</h3>
          <div class="d-flex">
            <div class="me-3">
              <h6>Type</h6>
              <p>{{ plan.type }}</p>
            </div>
            <div>
              <h6>Genre</h6>
              <p>{{ plan.genre }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Description</h3>
          <p>{{ plan.description }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12">
    </div>
  </div>
  <div class="container mt-4">
    <h3 class="card-title">Workouts</h3>
    <div class="row">
      <div class="col">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let workout of plan.workouts; let ii = index">
            <h5>{{workout.name}}</h5>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Workout {{ ii+1 }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="mt-2" *ngFor="let exercise of workout.exercises; let i = index">
              <div class="mt-2 workout">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col" class="w-25">Exercise {{i + 1}}</th>
                      <th scope="col" class="w-25">Reps</th>
                      <th scope="col" class="w-25">Sets</th>
                      <th scope="col" class="w-25">Rest</th>
                      <th scope="col" class="w-25">Length</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="w-25">{{ exercise.name }}</td>
                      <td class="w-25">{{ exercise.reps }}</td>
                      <td class="w-25">{{ exercise.sets }}</td>
                      <td class="w-25">{{ exercise.rest }}</td>
                      <td class="w-25">{{ exercise.length }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="d-flex justify-content-center bottom-div">
      <button class="btn btn-primary mt-2 ms-4" (click)="addPlan()">ADD</button>
      <button class="btn btn-warning mt-2 ms-4" (click)="reportPlan()">UNFOLLOW</button>
      <button class="btn btn-success mt-2 ms-4" (click)="reportPlan()">EDIT</button>
      <button class="btn btn-danger mt-2 ms-4" (click)="reportPlan()">DELETE</button>
      <button class="btn btn-secondary mt-2 ms-4" (click)="reportPlan()">REPORT</button>
    </div>
  </div>
</div>
