<div class="homepage-background" style="background-image: url(assets/homepage-background.png);">
  <div>
    <p>Create and share your fitness plan<br> to achieve your goals and inspire others</p>
    <div class="button"><span>JOIN US</span></div>
  </div>
</div>
<div class="whats-you-passion">
  <p>What is you passion?</p>
  <div class="slicice">
    <div><img src="assets/gym.jpg" alt=""></div>
    <div><img src="assets/homepage-background.png" alt=""></div>
    <div><img src="assets/street.jpg" alt=""></div>
    <div><img src="assets/yoga.jpg" alt=""></div>
  </div>
</div>

<div class="recommendation">
  <p>Try our featured workout plans!</p>
  <p>Our recommendation!</p>
  <div class="treninzi">
    <div><img src="assets/gym.jpg" alt=""></div>
    <div><img src="assets/homepage-background.png" alt=""></div>
    <div><img src="assets/street.jpg" alt=""></div>
    <div><img src="assets/gym.jpg" alt=""></div>
    <div><img src="assets/gym.jpg" alt=""></div>
    <div><img src="assets/gym.jpg" alt=""></div>


  </div>
</div>

<app-footer></app-footer>


