<div class="homepage-background" style="background-image: url(https://rare-gallery.com/mocahbig/65674-Woman-Brunette-GymGym-4k-Ultra-HD-Wallpaper.jpg);">
  <div>
    <p>Create and share your fitness plan<br> to achieve your goals and inspire others</p>
    <a href="#"><div class="button"><span>Create your plan now!</span></div></a>
  </div>
</div>
<div class="whats-you-passion">
  <p>What is your passion?</p>
  <div class="slicice">
    <a href="#">
      <div>
        <img src="assets/gym.jpg" alt="">
        <p>Gym</p>
      </div>
    </a>
    <a href="#">
      <div>
        <img src="https://images.unsplash.com/photo-1560073742-bc295f81c3c0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=808&q=80" alt="">
        <p>Running</p>
      </div>
    </a>
    <a href="#">
      <div>
        <img src="https://images.unsplash.com/photo-1593455026613-e30bfc0a54a9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" alt="">
        <p>Street Workout</p>
      </div>
    </a>
    <a href="#">
      <div>
        <img src="assets/yoga.jpg" alt="">
        <p>Yoga</p>
      </div>
    </a>
  </div>
</div>

<div class="recommendation">
  <p>Try our featured workout plans!</p>
  <!-- <p>Our recommendation!</p> -->
  <div class="treninzi">
    <div><img src="assets/gym.jpg" alt=""></div>
    <div><img src="assets/gym.jpg" alt=""></div>
    <div><img src="assets/gym.jpg" alt=""></div>
    <div><img src="assets/gym.jpg" alt=""></div>
    <div><img src="assets/gym.jpg" alt=""></div>
    <div><img src="assets/gym.jpg" alt=""></div>


  </div>
</div>



