<div class="homepage-background" style="background-image: url(assets/homepage-background.png);">
  <div>
    <p>Create and share your fitness plan<br> to achieve your goals and inspire others</p>
    <div class="button"><span>JOIN US</span></div>
  </div>
</div>
<div class="whats-you-passion">
  <p>What is your passion?</p>
  <div class="slicice">
    <div><img src="assets/gym.jpg" alt=""></div>
    <div><img src="https://images.unsplash.com/photo-1560073742-bc295f81c3c0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=808&q=80" alt=""></div>
    <div><img src="https://images.unsplash.com/photo-1593455026613-e30bfc0a54a9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" alt=""></div>
    <div><img src="assets/yoga.jpg" alt=""></div>
  </div>
</div>

<div class="recommendation">
  <p>Try our featured workout plans!</p>
  <!-- <p>Our recommendation!</p> -->
  <div class="treninzi">
    <div><img src="assets/gym.jpg" alt=""></div>
    <div><img src="assets/gym.jpg" alt=""></div>
    <div><img src="assets/gym.jpg" alt=""></div>
    <div><img src="assets/gym.jpg" alt=""></div>
    <div><img src="assets/gym.jpg" alt=""></div>
    <div><img src="assets/gym.jpg" alt=""></div>


  </div>
</div>



