<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Luckiest+Guy" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<header>
        <img src="assets/logo.png" alt="logo">
        <ul>
            <a href="#"><li>Workout Plans</li></a>
            <a href="#"><li>Submit Training</li></a>
            <a href="#"><li>Login/Register</li></a>
        </ul>
        <!-- <div class="search"><i class="fa-solid fa-magnifying-glass"></i></div> -->
        <div><mat-icon class="search">search</mat-icon></div>
    </header>


