.search-container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    padding: 8px;
    margin-top: 1%;
    margin-bottom: 1%;
  }

  .search-sort-container{
    display: flex;
    align-items: first baseline;
  }

  .search-bar {
    flex: 1;
    margin-right: 16px;
  }

  .filter-chips {
    margin-right: 16px;
  }

  .sort-by {
    align-self: flex-end;
    width: 200px;
  }

  .filter-chips-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  ::ng-deep .mat-chip-list{
    background-color: #3F8CE8 !important;
    color: white !important;
    border-color: #3F8CE8 !important;
  }

  
  