

      header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1000;
        background-color: white;
      }


    nav {
        max-width: 1400px;
        height: 91px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        font-family: 'Gendis Body';
    }

    img {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 210px;
    }

    ul {
        display: flex;
        gap: 2rem;
        justify-content: center;
        font-size: 1.2rem;
    }

    li {
        list-style-type: none;
        color: black;
        padding-top: 2.3rem;
        padding-bottom: 1.7rem;
        border-bottom: .3rem solid transparent;
        transition: all 0.1s ease-in-out;
        position: relative;
    }

    li:hover {
        color: black;
        border-bottom: .3rem solid #4DA7FF;
    }

    ul:hover li:not(:hover) {
        color: #999999;
      }

    a {
        text-decoration: none;
    }

    .reports {
        color: red;
    }

    .search-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0;
        padding: 13px;
        top: 50%;
        transform: translateY(-50%);
        color:black;
        transition: all 0.1s ease-in-out;
        font-size: 1.9rem;
    }

    .search-icon:hover {
        background-color: #333;
        color: white;
        border-radius: 10000px;
    }

    .nav-line{
        width: 100%;
        height: 92px;
        background-color: #278BFF;
    }
