body {
  max-width: 1300px;
  margin: 0 auto;
}

.information > div {
  display: flex;
  justify-content: space-between;
}

.information input {
  width: 35%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid black;
  padding-left: 10px;
}

.information :is(#type, #genre) {
  width: 30%;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid black;
  padding-left: 10px;
}

.plan-image {
  position: relative;
}

.plan-image div {
  background-color: blue;
  border-radius: 10px;
  width: 100%;
  aspect-ratio: 3;
}

.plan-image div img {
  object-fit: cover;
  object-position: center;
}

.plan-image input {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: red;
  border-radius: 10px;
  padding: 0.5rem;
}

.description textarea {
  width: calc(100% - 2rem);
  aspect-ratio: 10;
  border-radius: 10px;
  border: none;
  background-color: rgba(0, 0, 255, 0.205);
  padding: 1rem;
  outline: none;
  resize: vertical;
}

.workouts > div {
  border-radius: 10px;
  width: calc(100% - 2rem);
  background-color: blue;
  padding: 1rem;
}

.workout > div {
  width: calc(100% - 2rem);
  background-color: red;
  padding: 1rem;
}

.workout input {
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 10px;
}

.workout input[type="text"] {
  margin-right: 25rem;
  width: 16rem;
}

.workout input[type="number"] {
  margin-right: 2rem;
  width: 8rem;
}

.workout #name {
  margin-bottom: 1rem;
}

.workout .button {
  padding: 0.5rem 1rem;
  background-color: green;
  width: max-content;
  border-radius: 10px;
  margin-top: 1rem;
  color: blue;
}

.new-plans {
  display: flex;
  gap: calc(2rem + 50px);
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.new-plans .button {
  background-color: rgb(255, 230, 0);
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.new-plans p {
  position: relative;
  color: white;
  margin: 0;
}

.new-plans p::before {
  content: "";
  height: 2px;
  width: 50px;
  background-color: white;
  position: absolute;
  top: 50%;
  transform: translate(calc(-100% - 10px), -50%);
}

.new-plans p::after {
  content: "";
  height: 2px;
  width: 50px;
  background-color: white;
  position: absolute;
  top: 50%;
  transform: translate(10px, -50%);
}
