body {
  background: white;
}

.card-img-left {
  width: 45%;
  /* Link to your background image using in the property below! */
  background: scroll center url('https://img.freepik.com/free-photo/handsome-shirtless-man-with-stylish-hair-muscular-ectomorph-body-doing-exercises-with-dumbbells-dark-textured-background_613910-18438.jpg?w=740&t=st=1683310514~exp=1683311114~hmac=fb65a83d6c2ff2aef7fda46247b8030556a448383afe5e601ab3108ee8b5558c');
  background-size: cover;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.btn-google {
  color: white !important;
  background-color: #ea4335;
}

.btn-facebook {
  color: white !important;
  background-color: #3b5998;
}

.container
{
  align-self: center;
}
.row
{
  align-items: center;
  justify-self: center;
}
