.slika-plana
{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slika-plana img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  transition: transform 1s;
}
