<div class="container">
<app-mini-nav-bar></app-mini-nav-bar>


<!-- <div class="container">
  <div *ngFor="let p of plans">
    <div
      class="plan-container"
      *ngIf="
        searchText === '' ||
        p.name.toLowerCase().includes(searchText.toLowerCase())
      "
    >
      <div class="plan">
        <div class="slika-plana"><img src="assets/gym.jpg" alt="slika" /></div>
        <div class="naslov">
          <h4>{{ p.name }}</h4>
        </div>
        <div class="tip">
          <h6>{{ p.tip }}</h6>
        </div>
        <div class="button">Details</div>
        <div class="button plus">+</div>
      </div>
    </div>
  </div>
</div> -->

<router-outlet></router-outlet>
</div>
