<div class="all">

  <div class="container">
    <div class="container-top">
      <div class="information">
        <h3>Basic Information</h3>
        <input type="text" class="form-control plan-name" placeholder="Plan Name" />
        <div class="input-div">
          <select name="type" id="type" class="form-select mt-2 info-input">
            <option value="selected" disabled selected>Type</option>
            <option value="lala">lala</option>
            <option value="lala">lalall</option>
            <option value="lala">lallall</option>
            <option value="lalalal">lalsdla</option>
            <option value="lasldasl">ldsaldlasd</option>
            <option value="dsa">dassa</option>
          </select>
          <select name="genre" id="genre" class="form-select mt-2 info-input">
            <option value="selected" disabled selected>genre</option>
            <option value="lala">lala</option>
            <option value="lala">lalall</option>
            <option value="lala">lallall</option>
            <option value="lalalal">lalsdla</option>
            <option value="lasldasl">ldsaldlasd</option>
            <option value="dsa">dassa</option>
          </select>
        </div>
      </div>

      <div class="description">
        <h3>Description</h3>

        <textarea
          name="descri"
          id="descri"
          class="form-control"
          placeholder="Write your description here..."
          maxlength="1000"
          autofocus
          style="height: 100px;"
        ></textarea>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <h3>Plan image</h3>
      <div class="plan-image"></div>
      <img *ngIf="imageURL" [src]="imageURL" class="plan-image" />
      <input
        type="file"
        (change)="showPreview($event)"
        class="form-control slika"
      />
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <h3>Workouts</h3>
      <div class="workouts">
        <div class="workout-name">
          <input type="text" name="name" id="name" class="form-control " />
          <div class="mt-2 ">
            <!-- ime vezbe -->
            <div *ngFor="let inputSet of inputSets; let i = index" class="input-container mt-2 workout">
              <div class="text-input">
                <input [(ngModel)]="inputSets[i].name" type="text" class="form-control" placeholder="exercise name" />
              </div>
              <div class="number-inputs">
                <input [(ngModel)]="inputSets[i].rep" type="number" class="form-control mt-2" placeholder="rep" />
                <input [(ngModel)]="inputSets[i].set" type="number" class="form-control mt-2" placeholder="set" />
                <input [(ngModel)]="inputSets[i].milos" type="number" class="form-control mt-2" placeholder="milos" />
              </div>
            </div>
            </div>
            <div class="button btn btn-primary mt-2" (click)="addInputs()">Add Exercice...</div>
            <div class="button btn btn-primary mt-2" (click)="removeInputs()">Remove last exercice...</div>

          </div>
        </div>
        <div class="new-plans mt-4">
          <div class="button btn btn-primary">Create new workout</div>
          <p>or</p>
          <div class="button btn btn-secondary">Add from existing</div>
        </div>
      </div>
    </div>
  </div>

