
.all {
  margin-bottom: 100px;
  max-width: 1300px;
  margin-inline: auto;
  font-family: 'Gendis Body';
  font-style: italic;

}
.container {
  max-width: 1400px;
  margin: 0 auto;
  background-color: #f8f9fa;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 15px;
  font-size: small;
}

.container-top {
  display: grid;
  grid-template-columns: 40% 50%;
  gap: 12%;
  height: 100%;
  text-align: center;
}
.input-div {
  grid-template-columns: 1fr 1fr;
}

.information > div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.information input {
  width: 100%;
  height: 60px;
  border-radius: 10px;
  border: 1px solid black;
  padding-left: 10px;
  font-size: 20px;
}

.information :is(#type, #genre) {
  width: 48%;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid black;
  padding-left: 10px;
  height: 45px;
}

.plan-image {
  border-radius: 10px;
  width: 100%;
  aspect-ratio: 2;
  overflow: hidden;
  display: grid;
  place-items: center;
  margin-bottom: 2rem;
  position: relative;

}

.plan-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.plan-image > img:last-of-type {
  position: absolute;
  inset: 0;
}

.plan-image > .picture {
  width: max-content;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.description textarea {
  width: calc(100% - 2rem);
  aspect-ratio: 10;
  border-radius: 10px;
  border: none;
  padding: 1rem;
  outline: none;
  resize: vertical;
  background-color: aliceblue;
  min-height: 70;
  max-height: 70;
  resize: none;
}


.workouts > div {

  padding: 20px;
  padding-right: 0;
  margin-right: 0;
  border-radius: 15px;
  width: 100%;

}

.workout > div {
  width: 100%;
}

.input-container {
  display: flex;
  justify-content: space-between;
}

.text-input {
  flex: 1;
  margin-right: 10px;
  margin-top: 10px;
}

.number-inputs {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 15px;
  max-height: 38;
}
.number-inputs .form-control {
  margin-bottom: 10px;
}

.text-input .text-input {
  padding: 0;
}

.workout #name {
  margin-bottom: 1rem;
  padding-right: 0;
}

.workout .button {
  padding: 0.5rem 1rem;
  width: max-content;
  border-radius: 10px;
  margin-top: 1rem;
}

.new-plans {
  display: flex;
  gap: calc(2rem + 50px);
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.new-plans .button {
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

/* izmedju dugmeta za crtanj */
.new-plans p {
  position: relative;
  color: black;
  margin: 0;
}

.new-plans p::before {
  content: "";
  height: 2px;
  width: 50px;
  background-color: black;
  position: absolute;
  top: 50%;
  transform: translate(calc(-100% - 10px), -50%);
}

.new-plans p::after {
  content: "";
  height: 2px;
  width: 50px;
  background-color: black;
  position: absolute;
  top: 50%;
  transform: translate(10px, -50%);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {


  /* eslint-disable */
  -moz-appearance: textfield;
/* eslint-enable */

}

.workouts{
  background-color: #f8f9fa;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.workout-name{
  padding-right: 0;
}

.workout-name > input:first-child {
  width: 40%;
  margin-right: 0;
  padding-right: 0;
  margin-inline: auto;
}

.buttoni {
  display: flex;
  justify-content: center;
}

.submit-btn-div {
 display: flex;
  padding-top: 3rem;
  font-size:x-large;
  padding-left: 46%;
  font-style: italic;
}
