body {
  display: flex;
  background: #146fd0;
  background: radial-gradient(
    farthest-corner at 80px 80px,
    #14273f 0%,
    #b8ddf6 100%
  );
  height: 93vh;
}

.natpis {
  font-size: xx-large;
  font-family: "Gendis Body";
}
.kartica-conteiner {
  display: flex;
}

.kartica {
  justify-self: center;
  align-self: center;
}

.container {
  height: 100%;
}

.row {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-img-left {
  width: 45%;
  background: scroll center
    url("https://images.unsplash.com/photo-1595078475328-1ab05d0a6a0e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=800&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.profile-picture-frame {
  min-width: 150px;
  max-width: 150px;
  margin: 0 auto;
}

.profile-img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.error {
  color: #ea4335;
  font-size: small;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
}

.file-upload {
  position: relative;
  align-self: center;
  padding: 1rem;
  text-align: center;
}

.file-upload input[type='file'] {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
}
