.container {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2%;
  row-gap: 5rem;
  padding-inline: 0;
  margin-bottom: 4rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.comment {
  border-top: 1px;
  border-top: solid black;
  padding-top: 10px;
}
