body {
  display: flex;
  background: #146fd0;
  background: radial-gradient( farthest-corner at 80px 80px, #14273f 0%, #b8ddf6 100%);
  height: 93vh;
}

.kartica-conteiner {
  display: flex;
}

.natpis {
 font-size: xx-large;
 font-family:'Gendis Body';
}

.kartica {
  justify-self: center;
  align-self: center;
}

.container {
  height: 100%;
}

.row {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-img-left {
  width: 45%;
  background: scroll center url('https://images.unsplash.com/photo-1577221084712-45b0445d2b00?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=796&q=80');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.btn-google {
  color: white !important;
  background-color: #ea4335;
}

.btn-facebook {
  color: white !important;
  background-color: #3b5998;
}
