.container {
    margin: 0 auto;
    height: 100%;
}

.mat-expansion-panel {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
  }

  .mat-expansion-panel-header {
    font-weight: bold;
    color: #333;
  }
