<div class="workouts">
    <div class="workout-name">
      <div class="head">
        <p class="">{{ workout.name }}</p>
      </div>
      <div class="mt-2" *ngFor="let exercise of workout.exercises; let i = index">
        <div class="mt-2 workout">
          <div class="">
            <p class="">{{ exercise.name }}</p>
          </div>
          <div class="number-inputs">
            <label class="mt-2">{{ exercise.reps }}</label>
            <label class="mt-2">{{ exercise.sets }}</label>
            <label class="mt-2">{{ exercise.rest }}</label>
            <label class="mt-2">{{ exercise.length }}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  