  .slika-plana {
    position: relative;
    padding-bottom: 0.5rem;
  }

  .slika-plana img {
    width: 100%;
    aspect-ratio: 2;
    object-fit: cover;
  }
  
  .plan-link {
    text-decoration: none;
    color: inherit;
  }

  .user-link{
    text-decoration: none;
  }

  .plan > div{
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .stats {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .genre-type {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    align-items: center;
  }
  
   /* nav bar */
  mat-nav-list.list-horizontal {
    padding: 0;
    display: flex;
  }
  .mat-list-item {
    display: flex;
    height: auto;
    width: auto;
  }
  