  .slika-plana {
    margin-bottom: 1rem;
  }
  
  .slika-plana img {
    width: 100%;
    aspect-ratio: 2;
    object-fit: cover;
    border-top-left-radius: calc(1rem - 2px);
    border-top-right-radius: calc(1rem - 2px);
  }
  
  .naslov, .tip {
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
  
  .plan {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 1rem;
  }
  
  .button {
    align-self: center;
    width: max-content;
    padding: 0.6rem  1.6rem;
    border-radius: 1.5rem;
    background-color: #43a1ff;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .button:active {
    background-color: #2994FF;
  }
  
  .plus {
    position: absolute;
    bottom: 80px;
    right: 20px;
    font-size: 2rem;
    padding: 0;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: grid;
    place-items: center;
  }
  
   /* nav bar */
  mat-nav-list.list-horizontal {
    padding: 0;
    display: flex;
  }
  .mat-list-item {
    display: flex;
    height: auto;
    width: auto;
  }
  