    .all{
     box-shadow: 10px 10px 8px #888888;
  }
  .slika-plana {
    position: relative;
    padding-bottom: 0.2rem;
  }
  
  .slika-plana img {
    width: 100%;
    aspect-ratio: 2;
    object-fit: cover;
  }

  .plan-link {
    text-decoration: none;
    color: inherit;
  }

  .user-link{
    text-decoration: none;
  }

  .plan > div{
    display: flex;
    flex-direction: column;
    position: relative;

  }

  .stats {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10px;
  }

  .genre-type {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    align-items: center;
  }

   /* nav bar */
  mat-nav-list.list-horizontal {
    padding: 0;
    display: flex;
  }
  .mat-list-item {
    display: flex;
    height: auto;
    width: auto;
  }

  .info{
    font-family: 'Gendis Body';
    font-style: oblique;
    padding: 10px;
  }
.naslov
{
max-height: 4rem;
min-height: 4rem;

}

.tip{
padding: 5px 0px;
}
