.background{
  background: #146fd0;
  background: radial-gradient( farthest-corner at 80px 80px, #dfe9f7 0%, #f1f1f1 100%);
  width:100%;
  border-bottom: 1px solid #bbbbbb;
  font-family: 'Gendis Body';

}

.info {
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  gap: 1rem;
  padding: 1rem;

}

.left-div{
  padding-left: 2rem;
  width: max-content;
  flex-grow: 5;
  display: flex;
  flex-direction: row;
}

.buttons{
  flex-grow: 1;
  right: 0;
  padding-left: 15rem;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
}

.name{
  font-size: larger;
  font-weight: bold;
  white-space: nowrap;
  gap:0;
}

.username{
  gap: 0;
  font-style: oblique;
}

.profile-picture-frame {
  min-width: 200px;
  max-width: 200px;
   grid-row: 1/3;
  place-self: center;
}

.profile-img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 10px 10px 8px #888888;
}

.informations {
  grid-row: 1/3;
  display: grid;
  align-items: center;
  padding-block: 1rem;
}

.informations p {
  margin: 0;
  margin-left: 1rem;
}

.bio-placeholder{
  color: #929292;
}

.bio {
  grid-column: 1/-1;
  min-width: 400px;
  grid-row: 3/4;
  border: 1px solid #bbbbbb;
  background-color: rgb(248, 251, 254);
  border-radius: 5px;
  margin-block: 1rem;
  padding: 1rem;
  font-size: 18px;
  font-family: 'Gendis Body';
  margin-left: auto;

}

.button {
  grid-column: 3/4;
  align-self: center;
  justify-self: end;
  background-color: var(--color-blue);
  width: 100px;
  padding-block: 0.8rem;
  text-align: center;
  color: white;
  font-weight: bold;
  border-radius: 1.3rem;
  margin-right: 1rem;
}

.button:active {
  background-color: #1482ff;
}



@media screen and (max-width: 768px) {
  .buttons {
    flex-direction: row;
  }

  .informations{
    justify-items: center;
    gap: .5rem;
  }

  .left-div{
    flex-direction: column;
    gap: 0;
  }

  .info{
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }
}
