<div class="background">
  <div class="info">
    <div class="left-div">
      <div class="profile-picture-frame">
        <img class="profile-img" [src]="imgSrc" alt="" (error)="imgSrc = 'assets/profile-picture.webp'">
      </div>
      <div class="informations">
        <div>
          <p class="name">{{user.name}}</p>
          <p class ="username">@{{user.username}}</p>
        </div>
          <p class="trainings">Trainings: {{user.trainings}}</p>
          <p class="type">Type: {{user.type}}</p>
      </div>
    <div class="bio">
        <p *ngIf="!user.bio" class="bio-placeholder">Bio...</p>
        {{user.bio}}
    </div>
  </div>
    <div class="buttons">

      <button *ngIf="permissions | async" class="btn btn-primary" (click)="openEditDialog()">Edit</button>

    </div>
  </div>
</div>
