.content {
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    gap: 1rem;
    width: 850px;
}

.workout {
    display: grid;
    grid-template-columns: 25% 12.5% 12.5% 12.5% 12.5% 12.5%;
    gap: 2.5%;
    padding-bottom: 2.5%;
}