<form [formGroup]="workoutData">
  <div class="workouts">
    <div class="workout-name">
      <div class="head">
      <input
        type="text"
        formControlName="name"
        class="form-control"
        placeholder="Workout Name"
      />
      <button class="btn btn-danger" (click)="destroyComponent()">Remove Workout</button>
    </div>
      <div class="mt-2" formArrayName="exercises">
        <div
          *ngFor="let inputSet of exercises.controls; let i = index"
          [formGroupName]="i"
        >
          <div class="input-container mt-2 workout">
            <div class="text-input">
              <input
                formControlName="name"
                type="text"
                class="form-control"
                placeholder="Exercise name"
              />
            </div>
            <div class="number-inputs">
              <input
                formControlName="reps"
                type="number"
                class="form-control mt-2"
                placeholder="rep"
              />
              <input
                formControlName="sets"
                type="number"
                class="form-control mt-2"
                placeholder="set"
              />
              <input
                formControlName="rest"
                type="number"
                class="form-control mt-2"
                placeholder="rest"
              />
              <input
                formControlName="length"
                type="number"
                class="form-control mt-2"
                placeholder="duration"
              />
            </div>
            <div
              class="button btn btn-close  mt-2 ms-3"
              (click)="removeInputs(i)"
            >
          </div>
          </div>
        </div>
        <div class="buttoni">
          <div class="button btn btn-primary mt-2 me-3" (click)="addInputs()">
            Add Exercise...
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
