
.all {
  margin-bottom: 100px;
  max-width: 1300px;
  margin-inline: auto;
}

.workouts {
  padding-bottom: 1rem;
    min-width: 1300px;
  max-width: 1300px;
}

.workouts > div {
  background-color: rgb(208, 211, 212);
  padding: 20px;
  border-radius: 15px;
  width: 100%;
  padding: 1rem;
}

.workout > div {
  width: calc(100% - 2rem);
}

.input-container {
  display: flex;
  justify-content: space-between;
}

.text-input {
  flex: 1;
  margin-right: 10px;
  margin-top: 10px;
}

.number-inputs {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 15px;
  max-height: 38;
}
.number-inputs .form-control {
  margin-bottom: 10px;
}

.text-input .text-input {
  padding: 0;
}

.workout #name {
  margin-bottom: 1rem;
}

.workout .button {
  padding: 0.7rem 1.2rem;
  background-color: red;
  width: max-content;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

izbrisi-polja-dugme

.new-plans {
  display: flex;
  gap: calc(2rem + 50px);
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.new-plans .button {
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

/* izmedju dugmeta za crtanj */
.new-plans p {
  position: relative;
  color: black;
  margin: 0;
}

.new-plans p::before {
  content: "";
  height: 2px;
  width: 50px;
  background-color: black;
  position: absolute;
  top: 50%;
  transform: translate(calc(-100% - 10px), -50%);
}

.new-plans p::after {
  content: "";
  height: 2px;
  width: 50px;
  background-color: black;
  position: absolute;
  top: 50%;
  transform: translate(10px, -50%);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {


  /* eslint-disable */
  -moz-appearance: textfield;
/* eslint-enable */

}

.head {
  padding-bottom: 2rem;
}

.head .form-control{
  width: 10rem;
  border-color: black;
  margin-inline: auto;
  margin-left: 0;
  left: 0;
}

.workout-name .head {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttoni {
  display: flex;
  justify-content: center;
}
