footer {
  position: relative;
  background-color:black;
  z-index: 1000 ;

}

footer > div {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    position: relative;
    font-family: 'Gendis Body';
    color: white;
    font-size: 1.2rem;
    padding-block: 0.5rem;
}

footer > div div:last-child, i {
  width: 50px;
  height: 50px;
  position: relative;
  /* z-index: 100; */
}
