<div class="form-container">
  <form [formGroup]="submitForm" (ngSubmit)="OnSubmitForm()">
    <div formArrayName="fields">
      <div *ngFor="let field of getFieldsControls(); let i = index">
        <input
          type="text"
          [formControlName]="i"
          class="form-control"
          required
          autofocus
        />
      </div>
    </div>
    <!-- <button type="button" (click)="addField()">Add Field</button> -->
    <button
      class="btn btn-lg btn-primary btn-login fw-bold text-uppercase"
      type="button"
      (click)="addField()"
    >
      Add Field
    </button>

    <button
      class="btn btn-lg btn-primary btn-login fw-bold text-uppercase"
      type="submit"
    >
      Submit
    </button>
  </form>
</div>
