::ng-deep :root {
  --color-blue: #4CA3FF;
}

.background {
  padding-top: 32px;

}

.container {
  background-color: rgb(13, 54, 107) !important;

}

.workout {
  width:100%;
  margin-top: 1rem;

}

.button:active {
  background-color: #1482ff;
}

.my-plans, .active-plans {
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.356);
}


main {
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 0 !important;
  align-self: center;
  font-family: 'Gendis Body';
}

main div {
  background-color: rgb(248, 251, 254);
  height: 50px;
  color: black;
  font-size: 1.5rem;
  border-bottom: 1px solid #333;
  display: grid;
  place-items: center;
  transition: height 1s;
}

main div:active {
  height: 200px;
}
.training-timeline{
  display: flex !important;
  flex-direction: column;
  align-items: center !important;
}


@media (min-width:768px) {
  .informations {
      border-right: 1px solid #333;
      padding-right: 50px;
  }

  .button {
      grid-column: 4/5;
      justify-self: center;
  }

  .prvi {
      top: 20%;
  }

  .drugi {
      bottom: 20%;
  }


}



@media (min-width: 992px) {

  header ul {
      display: flex;
  }

  main div:hover {
      height: auto;
  }

  main {
      display: grid;
      grid-template-columns: 50% 50%;
      margin-top: 2rem;
      gap: 1rem;
      padding-inline: 2rem;
  }

  main div {
      border: 1px solid #bdbdbd;
      border-radius: 5px;
      align-items: start;
      padding: 1rem 2rem;
      height: auto;
      min-height: 300px;
  }

  .training-timeline {
      grid-column: 1/-1;
      grid-row: 2/-1;
  }
}

@media (min-width: 1200px) {
  main {
      grid-template-columns: 40% 60%;
      grid-template-rows: auto auto auto;
      position: relative;
      padding-bottom: 5rem;
  }

  .training-timeline {
      grid-column: 2/3;
      grid-row: 1/-1;
      grid-template-columns: 1fr;
      box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.356);

  }

  main .container-left {
    position: sticky;
    top: 7rem;
    background-color: transparent;
    border: none;
  }

  main .container-left .active-plans {
    width: calc(100% - 8.4px);
    margin-top: 2rem;
  }
}
