::ng-deep :root {
  --color-blue: #4CA3FF;
}

.background {
  background-color: #dfeaf1;
  padding-top: 32px;
}

.container {
  background-color: rgb(248, 251, 255) !important;
}

.button:active {
  background-color: #1482ff;
}

.button:nth-child(1) {
  grid-row: 1/2;
}

.button:nth-child(2) {
  grid-row: 2/3;
}

main {
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 0 !important;
}

main div {
  background-color: rgb(248, 251, 254);
  height: 50px;
  color: black;
  font-size: 1.5rem;
  border-bottom: 1px solid #333;
  display: grid;
  place-items: center;
  transition: height 1s;
  overflow: hidden;
}

main div:active {
  height: 200px;
}

@media (min-width:768px) {
  .informations {
      border-right: 1px solid #333;
      padding-right: 50px;
  }

  .button {
      grid-column: 4/5;
      justify-self: center;
  }

  .prvi {
      top: 20%;
  }

  .drugi {
      bottom: 20%;
  }


}

@media (min-width: 992px) {

  header ul {
      display: flex;
  }

  main div:hover {
      height: auto;
  }

  main {
      display: grid;
      grid-template-columns: 50% 50%;
      margin-top: 2rem;
      gap: 1rem;
      padding-inline: 2rem;
  }

  main div {
      border: 1px solid #bdbdbd;
      border-radius: 5px;
      align-items: start;
      padding: 1rem 2rem;
      height: auto;
      overflow: hidden;
      min-height: 300px;
  }

  .training-timeline {
      grid-column: 1/-1;
      grid-row: 2/-1;
  }
}

@media (min-width: 1200px) {
  main {
      grid-template-columns: 30% 70%;
      grid-template-rows: 300px 300px 300px;
  }

  main div {
      min-height: auto;
      height: auto;
  }

  .training-timeline {
      grid-column: 2/3;
      grid-row: 1/-1;
  }

  .info {
      padding-inline: 0;
  }
}
