<ng-container *ngIf="user$ | async as user">
<app-info-part [user]="user" [permissions]="permissions"></app-info-part>
<body class="background">
<main>
  <div class="my-plans">My Plans
    <ng-container *ngIf="createdPlans">
      <ng-container *ngFor="let plan of createdPlans">
        <app-plan-card [isOwner]="true" [plan]="plan"></app-plan-card>
      </ng-container>
    </ng-container>
  </div>
  <div class="active-plans">Active Plans
    <ng-container *ngFor="let p of user.personalPlans">
      <app-plan-card [isOwner]=false [plan]="p"></app-plan-card>
  </ng-container>
</div>

  <div class="training-timeline">
    Workouts
    <button *ngIf="permissions | async" class="btn btn-primary workout-button " [disabled]="!user.personalPlans || user.personalPlans.length===0" (click)="openSubmitWorkoutDialog()">Submit Workout</button>
    <span class="workout" *ngFor="let workout of user.submittedWorkouts">
      <app-workout-display [workout]="workout"></app-workout-display>
    </span>
  </div>
</main>
</body>
</ng-container>
<ng-container *ngIf="!(user$ | async)">
  <h1>User not found...</h1>
</ng-container>
