<ng-container *ngIf="user$ | async as user">
<app-info-part [user]="user" [permissions]="permissions"></app-info-part>
<body class="background">
<main>
  <div class="my-plans">My Plans
    <ng-container *ngFor="let p of user.personalPlans">
        <app-plan-card [isOwner]=true [plan]="p"></app-plan-card>
    </ng-container>
  </div>
  <div class="active-plans">Active Plans </div>

  <div class="training-timeline">
    <button *ngIf="permissions | async" class="btn btn-primary" (click)="openSubmitWorkoutDialog()">Submit Workout</button>



  </div>
</main>
</body>
</ng-container>
<ng-container *ngIf="!(user$ | async)">
  <h1>User not found...</h1>
</ng-container>
